<% wrap_layout :layout do %>

  <article class="post">
    <header class="post__header">
      <h1><%= link_to current_article.title, current_article %></h1>
      <p class="h4"><%= current_article.date.strftime('%B %e, %Y') %></p>
    </header>
    <%= yield %>
  </article>
  
  <nav class="post__nav">
    <h1 class="visuallyhidden">Blog navigation</h1>
  <% if current_article.previous_article || current_article.next_article %>

      <%= link_to "Next: #{current_article.next_article.title}", 
          current_article.next_article, 
          class: "post__next" if current_article.next_article %>
      <%= link_to "Previous: #{current_article.previous_article.title}", 
          current_article.previous_article, 
          class: "post__previous" if current_article.previous_article %>

  <% end %>
  <a href="/writing" class="archive">Archive</a>
  </nav>

<% end %> 
