<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta content='width=device-width, initial-scale=1, minimum-scale=1' name='viewport'>
    <title>Nadav Spiegelman<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'site' %> 
    <script type="text/javascript" src="//use.typekit.net/uvv4jhx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>

    <%= javascript_include_tag 'site' %> 
  </body>
</html>
